@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #0E0E0E;
    --btn: #006A50;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}

body {
    background: #F1F1F3;
}

a {
    text-decoration: none;
    color: var(--btn);
}

/* share btn style  */

.btn-primary {
	background-color: var(--btn);
	color: #fff;
	padding: 13px 26px;
	display: inline-block;
	border-radius: 8px;
	font-size: 18px;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.pb-80{
  padding-bottom: 80px;
}

@media screen and (max-width: 1270px) {
    .container {
        padding: 0 20px;
    }

    .pb-80{
      padding-bottom: 50px;
    }
}


/* Header CSS Start  */

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.logo {
    flex: 1 1 auto;
}

.logo a> h2 {
    color: var(--black);
    font-size: 32px;
}

nav.nav-wrap {
    flex: 0 0 20%;
    text-align: right;
}

a.nav-btn {
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid var(--btn);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}


/* Responsive Code For Header  */


/* For tablets and smaller devices */
@media screen and (max-width: 768px) {
    .flex-nav {
        min-height: 80px;
    }

    nav.nav-wrap {
        flex: 1 1 auto;
    }

    a.nav-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}

/* For mobile devices */
@media screen and (max-width: 480px) {
    .logo a > h2 {
        font-size: 24px;
    }

    a.nav-btn {
        font-size: 14px; 
        padding: 8px 16px;
    }
}

/* Header CSS End  */


/* Banner Css Start  */


.flex-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 60px;
	border-radius: 24px;
	background: #C6E4D6;
}

.banner-content {
	flex: 1 1 622px;
}

.banner-content h4 {
	color: rgba(14, 14, 14, 50%);
	font-size: 24px;
	margin-bottom: 16px;
}

.banner-content h2 {
	color: var(--black);
	font-size: 56px;
	font-weight: 700;
	margin-bottom: 24px;
}

.banner-btn {
	padding: 17px 34px;
	display: inline-block;
	background: var(--btn);
	color: #fff;
	border-radius: 8px;
	font-size: 18px;
}

.banner-img {
	flex: 1 1 474px;
}

.banner-img img {
	width: 100%;
}


/* Responsive Code */

/* For wider screens (1024px and above) */
@media screen and (max-width: 1024px) {
   
	.flex-banner {
		padding: 100px;
        flex-direction: column-reverse;
	}

    .banner-content {
		flex: 1 1 auto;
	}

	.banner-content {
		margin-top: 50px; 
	}
	.banner-content h4 {
		font-size: 28px; 
	}

	.banner-content h2 {
		font-size: 64px; 
	}

	.banner-btn {
		font-size: 20px; 
		padding: 20px 40px;
	}

	.banner-img {
		flex: 0 0 auto; 
	}
}


/* For tablets and smaller devices */
@media screen and (max-width: 768px) {
	.flex-banner {
		flex-direction: column-reverse;
		text-align: center;
		padding: 40px 20px;
	}

	.banner-content {
		flex: 1 1 auto;
	}

	.banner-content h4 {
		font-size: 20px;
	}

	.banner-content h2 {
		font-size: 36px;
	}

	.banner-btn {
		font-size: 16px;
		padding: 12px 24px;
	}

	.banner-img {
		flex: 1 1 auto;
	}
}

/* For mobile devices */
@media screen and (max-width: 480px) {
	.flex-banner {
		padding: 30px 15px;
	}

	.banner-content h4 {
		font-size: 18px;
	}

	.banner-content h2 {
		font-size: 28px;
	}

	.banner-btn {
		font-size: 14px;
		padding: 10px 20px;
	}

	
}

/* Banner End  */

/* Four Column Section Start  */

.section-title {
	font-size: 40px;
	margin-bottom: 32px;
	color: var(--black);
	font-weight: 700;
}
  
  /* Four Column Section */
  .columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .column {
    flex: 0 1 calc(25% - 20px);
    background: #fff;
    border: 1px solid  rgba(14, 14, 14, 15%);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
    transition: transform 0.3s;
  }
  
  .column:hover {
    transform: translateY(-10px);
  }
  
  .icon {
	font-size: 40px;
	margin-bottom: 25px;
}
  
.icon-box h3 {
	font-size: 20px;
	margin-bottom: 12px;
	color: var(--black);
	font-weight: 700;
}
  
.icon-box p {
	color: rgba(14, 14, 14, 70%);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
  /* Responsive Adjustments */
  
  /* For Tablets */
  @media screen and (max-width: 1024px) {
    .column {
      flex: 0 1 calc(50% - 20px); 
    }
  
    .section-title {
      font-size: 30px;
    }
  }
  
  /* For Mobile Devices */
  @media screen and (max-width: 480px) {
    .column {
      flex: 0 1 100%; 
    }
  
    .section-title {
      font-size: 24px;
    }
  
    .icon {
      font-size: 30px;
    }
  }


  /* Future Three Column Section  */

  p.section-para {
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 70%);
    line-height: 24px;
}

.flex-three-column {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.three-column {
  flex: 0 1 calc(33% - 20px);
  background: #fff;
  border: 1px solid  rgba(14, 14, 14, 15%);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 32px;
  transition: transform 0.3s;
}

.three-column.icon-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}


.dbg-btn {
	display: inline-block;
	padding: 11px 20px;
	color: white;
	background: #5490F5;
	margin-top: 20px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 600;
}

a.green-bg.dbg-btn {
  background-color: #09A15C;
}

a.yellow-bg.dbg-btn {
  background-color: #FFC239;
}

@media screen and (max-width: 1024px) {
  .flex-three-column {
    display: flex;
    flex-direction: column;
  }
}


/* Quote Start  */

.quote-wrapper {
  padding: 48px 24px;
  border: 1px solid rgba(14,14,14, 15%);
  border-radius: 16px;
  position: relative;
}

.quote-icon {
	position: absolute;
	top: 25px;
	left: 24px;
}

.quote-para {
	color: rgba(14, 14, 14, 80%);
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 24px;
}

h2.quote-name {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(14,14,14, 80%);
}

h4.role {
  font-size: 16px;
  color: rgba(14,14,14, 60%);
  line-height: 24px;
}


/* Openion Start  */
.openion-table {
  padding: 32px;
  /* border: 1px solid rgba(14,14, 14, 15%); */
  border-radius: 16px;
  background-color: #fff;
}



.openion-title h2 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 24px;
	color: var(--black);
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 36px 24px;
}

.table-head th {
	padding: 24px;
	background-color: #C6E4D6;
}



/* Resent Post CSS  */



/*recent news style*/
.recent-title {
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 24px;
}
.recent-des {
  font-size: 16px;
  color: #0E0E0E;
  margin-bottom: 32px;

}



.recent-item {
	display: flex;
	justify-content: space-between;
	padding: 48px;
	gap: 32px;
	background-color: #fff;
	border-radius: 24px;
	align-items: center;
	margin-bottom: 32px;
}

.recent-photo img {
  border-radius: 24px;
  margin-bottom: 12px;
}
.recent-item-text img {
  margin-bottom: 12px;
}

.time {
  color: rgba(14, 14, 14, 70%);
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 24px;
}
.recent-satelite {
  color: rgba(14, 14, 14, 70%);
  font-size: 16px;
  margin-bottom: 32px;

}

.recent-text-title {
	font-size: 32px;
	font-weight: 700;
	color: rgba(14, 14, 14, 80%);
	margin-bottom: 12px;
}


/* Responsive Styles */
@media (max-width: 1024px) {
  .recent-item {
    flex-direction: column;
    padding: 32px;
    gap: 16px;
  }

  .recent-title {
    font-size: 36px;
  }

  .recent-text-title {
    font-size: 28px;
  }

  .btn-primary {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .recent-title {
    font-size: 32px;
    text-align: center;
  }

  .recent-des {
    font-size: 14px;
    text-align: center;
  }

  .recent-item {
    padding: 24px;
    gap: 16px;
  }

  .recent-photo img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .recent-text-title {
    font-size: 24px;
  }

  .time,
  .recent-satelite {
    font-size: 14px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .recent-title {
    font-size: 28px;
  }

  .recent-item {
    padding: 16px;
    gap: 12px;
  }

  .recent-text-title {
    font-size: 20px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 8px 12px;
  }
}



/* Donate Section Start  */


/*donate section style*/
.donate-content{
  text-align: center;
  margin-top: 80px;
}
.donate-title {
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 24px;
}
.donate-des {
	font-size: 16px;
	color: rgba(14,14,14, .7);
	margin-bottom: 32px;
	line-height: 24px;
}
.donate-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1071px;
	margin: auto auto 32px auto;
	gap: 24px;
}

.donate-card .card {
	padding: 40px;
	border: 1px solid rgba(14,14,14, 15%);
	border-radius: 16px;
	background-color: #fff;
	flex: 1 1 auto;
  cursor: pointer;
}

.donate-card-text{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
}

.card.select {
  background-color: #C6E4D6;
  border-radius: 16px;
  transition: background-color 0.3s ease;

}
.card:hover {
  background-color: #C6E4D6;
}
.card:hover .donate-card-text{
  color: #5490F5;
}

.donate-input {
	max-width: 1032px;
	margin: auto;
}

.donate-input input {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  color: #0E0E0E;
  border: none;
  margin-bottom: 32px;
}

.donate-btn .btn-primary {
  border: none;
}